Borderless/bin/
Borderless/obj/
Borderless/Borderless.suo
Borderless/Borderless.v11.suo
SeeItKnowIt/bin/
SeeItKnowIt/obj/
SeeItKnowIt/publish/
SeeItKnowIt/Resources/Thumbs.db
SeeItKnowIt.suo
SeeItKnowIt.v11.suo
pingme.txt