<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VisualDictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"
         sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <VisualDictionary.Properties.Settings>
      <setting name="WindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SourceLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="PastWordsPanelExpandedWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PastWordsPanelExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPinned" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfigurationForm_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DestinationLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="TranslateDirection" serializeAs="String">
        <value>1</value>
      </setting>
    </VisualDictionary.Properties.Settings>
  </userSettings>
</configuration>